<div layout="row" flex class="ma-party-details">
	<div flex="33" offset="33">
		<!-- Header for form editor -->
		<legend>
			View and Edit Your Party Details
		</legend>
		<form layout="column">
			<!-- Name -->
			<md-input-container>
				<label>Party</label>
				<input type="text" ng-model="partyDetails.party.name" ng-disabled="partyDetails.party.owner != partyDetails.currentUserId" aria-label="Name">
			</md-input-container>
			<!-- Description -->
			<md-input-container>
				<label>Description</label>
				<input type="text" ng-model="partyDetails.party.description" ng-disabled="partyDetails.party.owner != partyDetails.currentUserId" aria-label="Description">
			</md-input-container>
			<!-- Public -->
			<md-checkbox ng-model="partyDetails.party.public" ng-disabled="partyDetails.party.owner != partyDetails.currentUserId" aria-label="Public">
				Public
			</md-checkbox>
			<!-- Save & back buttons -->
			<div layout="row" layout-align="left">
				<md-button ng-show="partyDetails.party.owner == partyDetails.currentUserId" ng-click="partyDetails.save()">Save</md-button>
				<md-button ng-href="/parties">Cancel</md-button>
			</div>
			<!-- List users to invite -->
			<md-list ng-show="partyDetails.canInvite()">
				<md-subheader class="md-no-sticky">Users to invite:</md-subheader>
				<md-list-item ng-repeat="user in partyDetails.users | uninvited:partyDetails.party">
					<div>{{ user | displayName }}</div>
					<md-button ng-click="partyDetails.invite(user)">Invite</md-button>
				</md-list-item>
				<!-- Show if all possible invitees are invited -->
				<md-list-item ng-if="(partyDetails.users | uninvited:partyDetails.party).length <= 0">
					Everyone is already invited
				</md-list-item>
			</md-list>
			<!-- Google map display -->
			<div class="angular-google-map-container">
				<ui-gmap-google-map
						center="partyDetails.party.location || partyDetails.map.center"
						events="partyDetails.map.events"
						zoom="partyDetails.map.zoom">
					<ui-gmap-marker
							coords="partyDetails.party.location"
							options="partyDetails.map.marker.options"
							events="partyDetails.map.marker.events"
							idKey="partyDetails.party._id">
					</ui-gmap-marker>
				</ui-gmap-google-map>
			</div>
		</form>
	</div>
</div>