/*Content*/
parties-list {
	width: 100%;
}
/*Navbar text*/
.navbar-text {
	margin-right: 0;
}
/*Login dropdown*/
#login-dropdown-list.accounts-dialog {
	right: 14px;
	left: auto;
}
/*Search form*/
.search-form {
	margin-bottom: 1em;
}
/*Parties List*/
.ma-parties-list {
	/*Map*/
	.angular-google.map {
		box-sizing: border-box;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		box-sizing: border-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
	}
	/*Map container*/
	.angular-google-map-container {
		box-sizing: border-box;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	/*RSVPs*/
	.rsvps-sum {
		float: left;
		width: 50px;
		text-align: center;
		/*Counts*/
		.rsvps-amount {
			font-size: 24px;
		}
		/*Titles*/
		.rsvp-title {
			font-size: 13px;
			color: #aaa;
		}
	}
	/*Party*/
	.ma-party {
		/*Name*/
		.ma-name {
			a {
				text-decoration: none;
				color: #333;
			}
		}
		/*Description*/
		.ma-description {			
		}
	}
}